blocks
blocks/build
blocks/assets

node_modules
vendor
build
public
artifacts
dist
bin/concat-js.js

*.min.js
_webpack.config.js

lib/kit

lib/assets/javascripts/bin/actions.js
lib/assets/javascripts/bin/latecheckbox.js
lib/assets/javascripts/bin/lateselect.js
lib/assets/javascripts/bin/notifications.js
lib/assets/javascripts/bin/shared.js
lib/assets/javascripts/bin/time.js

lib/assets/javascripts/bin/admin/_agents.js
lib/assets/javascripts/bin/admin/_calendar.js
lib/assets/javascripts/bin/admin/_chart.js
lib/assets/javascripts/bin/admin/_customers.js
lib/assets/javascripts/bin/admin/_customers_import.js
lib/assets/javascripts/bin/admin/_orders.js
lib/assets/javascripts/bin/admin/_processes.js
lib/assets/javascripts/bin/admin/_steps.js
lib/assets/javascripts/bin/admin/_stripe_connect.js
lib/assets/javascripts/bin/admin/main.js
lib/assets/javascripts/bin/admin/updates.js

lib/assets/javascripts/bin/front/_customer.js
lib/assets/javascripts/bin/front/_events.js
lib/assets/javascripts/bin/front/_stripe_connect.js
lib/assets/javascripts/bin/front/main.js

lib/assets/javascripts/vendor
lib/assets/javascripts/admin.js
lib/assets/javascripts/front.js
lib/assets/javascripts/vendor-admin.js
lib/assets/javascripts/vendor-front.js
